.pod-title {
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  border-bottom: 0;
  font-size: 1.25em;
  padding: 4px 10px;
  border-radius: 3px 3px 0 0;
}
.pod-title.closed {
  border-radius: 3px;
}
.smiley {
  position: absolute;
  left: 0px;
  top: 4px;
}
.perseus-single-editor {
  box-sizing: border-box;
  width: 360px;
}
.perseus-json-editor {
  width: 100%;
  font-family: monospace;
  height: 500px;
}
.perseus-json-editor.invalid {
  background-color: #ffe6e6;
}
.perseus-textarea-pair {
  border: 1px solid #dddddd;
  font-size: 12px;
  line-height: 1.6;
  position: relative;
}
.perseus-textarea-pair > .perseus-textarea-underlay {
  color: transparent;
  margin-bottom: 12px;
  padding: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.perseus-textarea-pair > .perseus-textarea-underlay b {
  font-weight: normal;
  background-color: #dfd;
}
.perseus-textarea-pair > .perseus-textarea-underlay b.selected {
  background-color: #ddf;
}
.perseus-textarea-pair > .perseus-textarea-underlay b.error {
  background-color: #fcc;
}
.perseus-textarea-pair > textarea {
  background: transparent;
  border: 0;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit;
  height: 100%;
  left: 0;
  padding: 10px;
  position: absolute;
  resize: none;
  top: 0;
  width: 100%;
  /* for Firefox, this helps. it seems that the underlay is still 1px off and
    I'm not really sure why. not too noticeable if we're just setting the
    background color though. */
  margin: 0;
}
.perseus-widget-row {
  margin: 7px 0;
  width: 100%;
}
.perseus-widget-row .perseus-widget-left-col,
.perseus-widget-row .perseus-widget-right-col {
  display: inline-block;
  width: 50%;
}
.perseus-widget-row .perseus-widget-left-col .range-input,
.perseus-widget-row .perseus-widget-right-col .range-input {
  float: right;
  margin-right: 5px;
}
.perseus-answer-editor .perseus-textarea-pair {
  min-height: 50px;
}
.perseus-answer-options {
  border: 1px solid #dddddd;
  padding: 10px;
}
.perseus-answer-widget {
  border: 1px solid #dddddd;
  border-radius: 0 0 3px 3px;
  padding: 10px;
}
.perseus-widget-editor {
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-top: 10px;
}
.perseus-widget-editor .perseus-widget-editor-title {
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  border-bottom: 0;
  font-size: 1.25em;
  padding: 4px 10px;
  border-radius: 3px 3px 0 0;
  border: 0;
  color: inherit;
  display: block;
  text-decoration: none;
}
.perseus-widget-editor .perseus-widget-editor-title.closed {
  border-radius: 3px;
}
.perseus-widget-editor .perseus-widget-editor-title > i {
  float: left;
  font-size: 14px;
  margin-right: 10px;
}
.perseus-widget-editor .perseus-widget-editor-content {
  border-radius: 0 0 3px 3px;
  border-top: 1px solid #dddddd;
  padding: 10px;
  transition: all 0s;
}
.perseus-widget-editor .perseus-widget-editor-content.leave {
  display: none;
}
.perseus-widget-editor .categorizer-container {
  overflow-x: scroll;
}
.perseus-editor-widgets-selectors {
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  border-top: 0;
  border-radius: 0 0 3px 3px;
  padding: 5px 10px;
}
.perseus-editor-widgets-selectors select {
  width: 100%;
}
.perseus-editor-widgets > div.selected > strong {
  background-color: #ddf;
}
.perseus-editor-widgets .warning {
  background-color: #ffcccc;
  padding: 4px;
  margin: 4px;
}
.MathJax .math {
  color: inherit;
}
#perseus {
  margin: 20px;
}
#perseus #problemarea {
  /* Override the min-height property used for displaying the problem.
        While editing, the size of the editor itself is a better constraint on
        the size of the problemarea, and having a smaller problemarea is nicer
        if it means it aligns better with the editor. */
  min-height: 0;
  width: 480px;
}
#perseus #problemarea #workarea {
  margin: 0;
  outline: 1px solid #ccc;
}
#perseus #answer_area {
  position: relative;
}
#perseus #answer_area #examples-show {
  float: none;
  left: 109px;
  position: absolute;
  top: -30px;
}
#perseus #answer_area #solutionarea,
#perseus #answer_area .answer-buttons {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  width: 225px;
}
#perseus #answer_area #solutionarea {
  margin-left: 0;
  margin-top: 20px;
  outline: 1px solid #ccc;
  overflow-x: visible;
}
#perseus .perseus-question-container > div,
#perseus .perseus-answer-container > div {
  padding-bottom: 25px;
}
#perseus .add-choice-container,
#perseus .add-hint-container {
  margin-bottom: 20px;
  text-align: left;
}
.perseus-editor-table {
  display: table;
  table-layout: fixed;
}
.perseus-editor-row {
  display: table-row;
}
.perseus-editor-left-cell {
  display: table-cell;
  padding-right: 30px;
  vertical-align: top;
  width: 360px;
}
.perseus-editor-right-cell {
  background-color: #f7f7f7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  padding: 30px;
  vertical-align: top;
  width: 540px;
}
.perseus-hint-editor {
  padding-bottom: 20px;
}
.perseus-hint-editor .perseus-single-editor {
  margin-bottom: 5px;
}
.perseus-hint-editor .reorder-hints a {
  font-size: 16px;
}
.perseus-hint-editor .reorder-hints a:hover,
.perseus-hint-editor .reorder-hints a:active {
  color: #000;
  text-decoration: none;
}
.perseus-hint-editor .reorder-hints a.hidden {
  visibility: hidden;
}
.perseus-hint-editor .remove-hint {
  padding: 0 10px;
  float: right;
}
.perseus-hint-editor + div .perseus-hint-renderer {
  outline: 1px solid #ccc;
  width: 480px;
}
.perseus-hint-editor + div .perseus-hint-renderer div.paragraph {
  margin: 0px 0px 22px 0px;
}
.perseus-button-group {
  display: inline-block;
}
.perseus-button-group > button {
  background-color: white;
  border: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 0;
  cursor: pointer;
  margin: 0;
  padding: 5px 10px;
  position: relative;
}
.perseus-button-group > button.selected {
  background-color: #ddd;
}
.perseus-button-group > button:first-child {
  border-left: 1px solid #ccc;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.perseus-button-group > button:last-child {
  border-right: 1px solid #ccc;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.perseus-button-group > button:hover,
.perseus-button-group > button:focus {
  outline: 2px solid #999;
  outline-offset: -1px;
  z-index: 2;
}
.more-options-container {
  display: block;
  padding-bottom: 24px;
  position: relative;
}
.more-options-container .more-options-title {
  border-radius: 0 0 3px 3px;
  color: #999999;
  height: 20px;
  font-size: 14px;
  padding: 5px 0;
  width: 358px;
  position: absolute;
  left: -10px;
  right: 0;
  bottom: -10px;
  text-align: center;
}
.more-options-container .more-options-title:hover {
  background-color: #dddddd;
  cursor: pointer;
}
.perseus-widget-dropdown .remove-choice {
  margin-bottom: 10px;
}
.perseus-input-number-editor {
  font-size: 14px;
}
.perseus-input-number-editor .ui-title,
.perseus-input-number-editor .msg-title {
  display: inline-block;
  text-align: center;
}
.perseus-input-number-editor .ui-title {
  width: 100px;
}
.perseus-input-number-editor .msg-title {
  margin-left: 5px;
  width: 230px;
}
.perseus-input-number-editor .options-container {
  padding-left: 30px;
}
.perseus-input-number-editor .input-answer-editor-value,
.perseus-input-number-editor .input-answer-editor-message {
  display: inline-block;
}
.perseus-input-number-editor .input-answer-editor-value-container {
  border: 1px solid #cccccc;
  border-radius: 3px;
  float: left;
  height: 53px;
  width: 100px;
  overflow: hidden;
  position: relative;
}
.perseus-input-number-editor .input-answer-editor-value-container .numeric-input-value {
  border: 0;
  font-size: 13px;
  outline-offset: -3px;
  width: 100%;
}
.perseus-input-number-editor .input-answer-editor-value-container.with-max-error .numeric-input-value {
  width: 60%;
}
.perseus-input-number-editor .input-answer-editor-value-container .max-error-container {
  display: inline-block;
  width: 40%;
}
.perseus-input-number-editor .input-answer-editor-value-container .max-error-container .max-error-plusmn {
  cursor: default;
  display: inline-block;
  width: 20%;
}
.perseus-input-number-editor .input-answer-editor-value-container .max-error-container .number-input {
  border: 0;
  font-size: 13px;
  width: 80%;
}
.perseus-input-number-editor .options-toggle,
.perseus-input-number-editor .answer-status {
  height: 26px;
  line-height: 26px;
  outline-offset: -3px;
  vertical-align: middle;
}
.perseus-input-number-editor .value-divider {
  border-top: 1px solid #cccccc;
}
.perseus-input-number-editor .options-toggle {
  background-color: #eee;
  border-left: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #444;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 25%;
}
.perseus-input-number-editor .options-toggle:hover {
  background-color: #ccc;
}
.perseus-input-number-editor .is-strict-indicator {
  background-color: #d9edf7;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  cursor: default;
  font-size: 16px;
  line-height: 12px;
  height: 12px;
  width: 12px;
  text-align: center;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  -webkit-user-select: none;
  -khtml-user-drag: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.perseus-input-number-editor .simplify-indicator {
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  cursor: default;
  font-size: 10px;
  line-height: 13px;
  height: 13px;
  width: 12px;
  text-align: center;
  position: absolute;
  top: 12px;
  right: auto;
  bottom: auto;
  left: 0;
  -webkit-user-select: none;
  -khtml-user-drag: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.perseus-input-number-editor .simplify-indicator.optional {
  background-color: #dff0d8;
}
.perseus-input-number-editor .simplify-indicator.enforced {
  background-color: #f2dede;
}
.perseus-input-number-editor .answer-status {
  color: inherit;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 75%;
  -webkit-user-select: none;
  -khtml-user-drag: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.perseus-input-number-editor .answer-status.wrong {
  background-color: #f2dede;
}
.perseus-input-number-editor .answer-status.correct {
  background-color: #dff0d8;
}
.perseus-input-number-editor .answer-status.ungraded {
  background-color: #d9edf7;
}
.perseus-input-number-editor .input-answer-editor-message {
  margin-left: 5px;
}
.perseus-input-number-editor .input-answer-editor-message .perseus-single-editor {
  font-family: 'Lucida Grande';
  width: 230px;
}
.perseus-input-number-editor .input-answer-editor-message .perseus-single-editor .perseus-textarea-pair > textarea,
.perseus-input-number-editor .input-answer-editor-message .perseus-single-editor .perseus-textarea-underlay {
  padding: 5px;
}
.perseus-input-number-editor .input-answer-editor-message .perseus-single-editor .perseus-textarea-pair {
  border-color: #cccccc;
  border-radius: 3px;
  min-height: 53px;
}
.perseus-input-number-editor .input-answer-editor-message .perseus-single-editor .perseus-textarea-underlay {
  margin-bottom: 0;
}
.perseus-widget-radio .choice-editor .perseus-single-editor {
  margin-bottom: 0;
}
.perseus-widget-radio .choice-editor.correct textarea {
  background: #aaffaa;
}
.perseus-widget-radio .choice-editor.incorrect textarea {
  background: #ffcccc;
}
.perseus-widget-radio textarea::-webkit-input-placeholder {
  color: #777;
}
.perseus-widget-radio textarea:-moz-placeholder {
  color: #777;
  opacity: 1;
}
.perseus-widget-radio textarea::-moz-placeholder {
  color: #777;
  opacity: 1;
}
.perseus-widget-radio textarea:-ms-input-placeholder {
  color: #777;
}
.perseus-widget-radio .clue-editor .perseus-textarea-pair {
  border-top: 0;
}
.perseus-widget-radio .choice-clue-editors,
.perseus-widget-radio .choice-editor,
.perseus-widget-radio .clue-editor {
  display: inline-block;
}
.perseus-widget-radio .delete-choice {
  margin-left: 5px;
  padding: 5px;
}
.perseus-widget-radio .perseus-single-editor {
  border: 0;
  display: inline-block;
  margin: 0 0 5px;
  vertical-align: top;
  width: 280px;
}
.perseus-widget-radio .perseus-single-editor p {
  margin: 0;
}
.perseus-widget-radio .perseus-textarea-pair > textarea,
.perseus-widget-radio .perseus-textarea-pair > .perseus-textarea-underlay {
  padding: 5px;
}
.perseus-widget-editor-content .perseus-widget-radio .checkbox,
.perseus-widget-editor-content .perseus-widget-radio .delete-choice {
  position: relative;
  top: -10px;
}
#solutionarea .perseus-widget-radio li {
  padding: 7px 0;
}
.framework-perseus table.perseus-widget-table-of-values th .perseus-single-editor {
  width: 80px;
  margin-bottom: 6px;
}
.framework-perseus table.perseus-widget-table-of-values th .perseus-textarea-pair,
.framework-perseus table.perseus-widget-table-of-values th .perseus-single-editor {
  height: 50px;
}
.categorization-container.categorization-container-editor {
  width: 350px;
  margin-bottom: 160px;
}
.categorization-container.categorization-container-editor .card input {
  margin: 7px 3px 7px 13px;
  font-size: 12px;
  display: block;
  width: 81%;
}
.categorization-container.categorization-container-editor .category {
  float: left;
  padding: 5px;
  width: 160px;
}
.categorization-container.categorization-container-editor .categories {
  width: 176px;
}
.categorization-container.categorization-container-editor .perseus-textarea-underlay {
  margin-bottom: 0;
}
.categorization-container.categorization-container-editor .drag-bar {
  float: left;
  font-size: 10px;
  padding: 2px 0;
  height: 70%;
  margin-top: 3px;
}
.categorization-container.categorization-container-editor .header {
  margin-bottom: 8px;
}
.categorization-container.categorization-container-editor .header input {
  display: block;
  margin-right: 24px;
  width: 76%;
}
.categorization-container.categorization-container-editor .header .remove {
  position: relative;
  top: -14px;
  left: 12px;
  float: right;
  width: 20px;
  height: 20px;
  padding: 2px;
  color: #666;
  cursor: pointer;
}
.categorization-container.categorization-container-editor .header .remove:hover {
  color: #333333;
}
.categorization-container.categorization-container-editor .delete-item-area {
  position: absolute;
  width: 150px;
  height: 60px;
  padding-top: 40px;
  bottom: -150px;
  left: 10px;
  border: dashed 2px #888;
  color: #888;
  text-align: center;
  font-size: 20px;
}
.categorization-container.categorization-container-editor .delete-item-area.target {
  border-color: black;
  color: #333333;
}
.categorization-container.categorization-container-editor .card {
  width: 130px;
  padding: 0;
}
.categorization-container.categorization-container-editor .card.dragging .drag-bar {
  margin-left: 2px;
}
.categorization-editor-area {
  height: 30px;
}
.categorization-editor-area .add-item {
  float: left;
  margin-left: 17px;
}
.categorization-editor-area .add-category {
  margin-left: 173px;
}
.perseus-widget-interactive-graph {
  display: block;
}
.perseus-widget-plotter-editor .plotter-categories,
.perseus-widget-plotter-editor .pic-url {
  width: 70%;
}
.perseus-text-list-editor input[type=text] {
  padding: 3px;
  margin-right: 5px;
  min-width: 20px;
  max-width: 340px;
}
.perseus-text-list-editor.layout-horizontal input[type=text] {
  float: left;
}
.perseus-matcher-editor .perseus-text-list-editor {
  float: left;
  max-width: 50%;
}
.perseus-matcher-editor .perseus-text-list-editor input[type=text] {
  max-width: 90%;
}
.perseus-matcher-editor input[type=text] {
  width: 46%;
}
.perseus-matcher-editor input[type=text] + input[type=text] {
  margin-left: 2%;
}
.info-tip-content-container p {
  font-size: 12px;
  line-height: 1.4;
  margin: 0;
}
.info-tip-content-container p + p {
  margin-top: 22px;
}
